<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    <body>
      <div class="flex-container">
            <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <div class="navbar-header">
                          <a class="navbar-brand" href="http://falkonry.com" style="color:#fff;">Falkonry Monitoring Dashboard</a>
                      </div>
                      <form class="form-inline" #apiForm="ngForm" (ngSubmit)="onSubmit(apiForm.value)">
                          <div class="form-group">
                              <input type="text" placeholder="Host" class="form-control mr-sm-2" name="host" ngModel>
                          </div>
                          <div class="form-group">
                              <input type="text" placeholder="API Key" class="form-control mr-sm-2" name="api" ngModel>
                          </div>
                          <button type="submit" class="btn btn-primary">
                                  Fetch
                          </button>
                      </form>
                    </div>
            </nav>

                    <div class="row m-l-10 m-r-0">
                        <div class="col-s-3 col-m-2">
                            <div class="form-group">
                                <label for="assessment" >Assessments</label>

                                        <select id="assessment" class="form-control fix-width" name="select" [(ngModel)]="selectedAssessment" (change)="Filter_Assessment($event.target.value)">
                                                <option *ngFor="let c of fetched_assessments" [ngValue]="c.id">{{c.name}}</option>
                                        </select>

                            </div>
                        </div>
                        <div class="col-s-3 col-m-2">
                                <div class="form-group">
                                <label for="entity">Entities</label>
                                     <span [hidden]="!loaderEnabled">Loading...<i class="fa fa-circle-o-notch fa-spin" ></i></span>
                                        <select id=entity class="form-control fix-width" [hidden]="loaderEnabled" name="select" [(ngModel)]="selectedEntity" (change)="Filter_Entity($event.target.value)">
                                                <option *ngFor="let entity of assessment_entity_map[selectedAssessment]" [ngValue]="entity">{{entity}}</option>
                                        </select>

                                </div>

                        </div>

            <div [hidden]="!loaderEnabled" class="loading">Loading&#8230;</div>
            <div [ngClass]="{'test':loaderEnabled}">
              <div class="graphs">
                <h3 [hidden]="loaderEnabled || selectedEntity==null">{{selectedEntity}}</h3>
                <google-chart #ctchart [data]="columnChartData" (chartError)='error_column($event)'></google-chart>
                <google-chart #cchart [data]="timelineChartData" (chartError)='error_timeline($event)'></google-chart>
              </div>
            </div>

          </div>
      </div>
    </body>

</html>
