.container {
    padding: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
}

.example-padding {
    padding: 10px;
}

.example-card {
    width: 30%;
    margin: 15%;
}

mat-card {
    border-radius: 8px;
    margin-top: 15%;
}

mat-toolbar-row {
    height: 85px !important;
}


.startButton{
    background-color: #4562E9;
    color: white;
}
