mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
  }

  mat-sidenav {
    width: 250px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover,
  a:active {
    color: lightgray;
  }

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
}

.label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    width: 85%;
}

.example-header-image {
    background-image: url('src/assets/img/logo.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-form {
    min-width: 150px;
    max-width: 700px;
}

.example-form-field-host {
    padding: 20px;
    color: white;
}

.example-form-field-token {
    padding: 20px;
    min-width: 350px;
    color: white;
}

mat-toolbar-row {
    height: 85px !important;
}

.logo{
    margin-top: 10px;
}
