<mat-toolbar style="background-color:  #494949;">
  <mat-toolbar-row class="mat-elevation-z6">
    <img src="/static/js/assets/img/logo.png" width="150px" height="60px">
    <span class="example-spacer"></span>
    <form class="example-form">
      <mat-form-field class="example-form-field-host" >
        <input matInput placeholder="Host" [(ngModel)]="host" name="hostUrl">
      </mat-form-field>
      <mat-form-field class="example-form-field-token">
        <input matInput placeholder="Token" [(ngModel)]="token" name="apiToken">
      </mat-form-field>
    </form>
    <button mat-raised-button style="background-color: #FF9E00" (click)="connect()">Connect</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>