
<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <form mat-list-item class="example-form">
        <mat-form-field class="example-padding">
          <input matInput placeholder="Host">
        </mat-form-field>
        <mat-form-field class="example-padding">
          <input matInput placeholder="Token">
        </mat-form-field>
      </form>
    <button mat-list-item mat-raised-button color="accent">Connect</button>
  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4">
      <div fxHide.gt-xs>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="example-header-image"></div>
      <div>
        <a>
            Falkonry
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <form class="example-form" fxLayoutGap="20px">
              <mat-form-field class="example-padding">
                <input matInput placeholder="Host">
              </mat-form-field>
              <mat-form-field class="example-padding">
                <input matInput placeholder="Token">
              </mat-form-field>
            </form>
          </li>
          <li>
            <button mat-raised-button color="accent">Connect</button>
          </li>
        </ul>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container> -->


<!-- <div class="container">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">
        <mat-card fxFlex="20%" fxFlex.xs="40%" mat-ripple>
          <mat-card-content fxLayout="row" fxLayoutAlign="center">
            <h3>Human Activity</h3>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="20%" fxFlex.xs="40%" mat-ripple>
          <mat-card-content fxLayout="row" fxLayoutAlign="center">
            <h3>Weather</h3>
          </mat-card-content>
        </mat-card>
      </div>
</div> -->

<!-- <mat-sidenav-container>
    <mat-sidenav  #sidenav role="navigation">
     <mat-nav-list>
        <form mat-list-item class="example-form">
            <mat-form-field class="example-padding">
              <input matInput placeholder="Host">
            </mat-form-field>
            <mat-form-field class="example-padding">
              <input matInput placeholder="Token">
            </mat-form-field>
          </form>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
       <div fxHide.gt-xs>
         <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="example-header-image"></div>
       <div>
          <p>Falkonry</p>
       </div>
       <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
          <ul fxLayout fxLayoutGap="20px" class="navigation-items">
              <li>
                  <input matInput placeholder="Host">

              </li>
              <li>
                  <button mat-raised-button color="accent">Connect</button>
              </li>
          </ul>
       </div>
      </mat-toolbar>
      <main>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container> -->


  <!-- <div layout="column">
      <mat-toolbar>
        <div layout="row" layout-align="start center">


              <button mat-button>
                  back
                </button>
            <mat-form-field flex>
                <input matInput placeholder="Search here">
            </mat-form-field>
            <button mat-button>
                Search
              </button>


        </div>
      </mat-toolbar>
    </div>
     -->
     <mat-toolbar style="background-color:#494949">
      <mat-toolbar-row class="mat-elevation-z4">
       <div class="logo">
         <img src="../../assets/img/logo.png" width="150px" height="50px"/>
       </div>
        <span class="example-spacer"></span>
        <form class="example-form">
            <mat-form-field class="example-padding">
              <input matInput placeholder="Host" [(ngModel)]="host" name="hostUrl">
            </mat-form-field>
            <mat-form-field class="example-padding">
              <input matInput placeholder="Token" [(ngModel)]="token" name="apiToken">
            </mat-form-field>
        </form>
        <button mat-raised-button style="background-color:rgb(255, 153, 66)" (click)="connect()">Connect</button>
      </mat-toolbar-row>
    </mat-toolbar>
  <router-outlet></router-outlet>
  <!-- <div google-chart chart="myChartObject" style="height:600px; width:100%;"></div> -->
