<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Falkonry Examples</title>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/sampleapp.js"></script>
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/stylesheets/angular-motion.min.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/modal-properties.css" type="text/css" rel="stylesheet">
    <script src="/javascripts/angular-strap.min.js"></script>
    <script src="/javascripts/angular-strap.tpl.min.js"></script>
    <script src="/javascripts/angular-animate.min.js"></script>
    <script src="/javascripts/loader.js"></script>
</head>
<body ng-app="falkonryApp">
<div>
    <div ng-controller="HomeController">
        <div class="row black">
            <div class="col s4">
                <a id="logo-container" class="brand-logo">
                    <img class="responsive-img" src="/images/logo.png"/>
                </a>
            </div>
            <div class="input-field col s4 offset-s2 white-text">
                <input id="api_key" type="text" ng-model="mykey">
                <label class="active" for="first_name">API Key</label>
            </div>
            <div class="input-field col s1">
                <a class="btn-flat waves-effect waves-light orange material-icon" ng-click="getPipes()" data-ng-disabled="checkEntered()">SUBMIT</a>
            </div>
        </div>
        <div class="row white" ng-show="error_show">
            <div class="col s4 offset-s6">
                <p class="red-text">{{message}}</p>
            </div>
        </div>
        <div class="row white" ng-show="load_show">
            <div class="col s4 offset-s6">
                <p class="blue-text">Loading...</p>
            </div>
        </div>
    </div>

    <div ng-controller="PipeListController" ng-if="stay">
        <div class="section no-pad" id="index-banner">
            <div class="container">
                <h5 class="header center black-text no-pad">Examples</h5>
                <div class="row center no-pad" ng-show="received">
                        <div class="col s3"  ng-repeat="p in pipelines" ng-if="p.name!=null">
                               <button type="button" class="btn-flat waves-effect waves-light orange material-icons" id="{{p.id}},{{key_passed}}" ng-click="startView(p)">{{p.name}}</button>

                        </div>
                </div>

                <div class="row center no-pad">
                    <button type="button" class="btn-floating waves-effect waves-light orange material-icons"   data-placement="center" ng-click="startDeploy()">+</button>
                </div>
                <div class="row white" ng-show="modal_load_show">
                    <div class="col s4">
                        <p class="red-text">{{ modal_message }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="PipelineDetailController" ng-if="leave">
        <!--<div class="row white">
            <div class="input-field col s1 black-text">
                <input id="time" value="2" type="number" ng-model="time_range" >
                <label class="active" for="time_range">Display time (days)</label>
            </div>
            <div class="input-field col s1 black-text">
                <input id="time" value="1" type="number" ng-model="refresh_rate">
                <label class="active" for="refresh_rate">Refresh Rate (mins)</label>
            </div>
        </div>-->
        <div id="timeline" style="height: 180px;"></div>
        <button type="button" class="btn-floating waves-effect waves-light orange material-icons"   ng-click="goBack()">BACK</button>
    </div>


</div>
</body>
</html>
