<div class="container">
  <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">
    <mat-card fxFlex="20%" fxFlex.xs="40%" mat-ripple (click)="changeIsClicked()" fxLayout="row" fxLayoutGap="10px">
        <mat-list-item fxLayout="row" fxLayoutAlign="center">
          <mat-card-content class="content">
            <h3>Creating datastream</h3>
          </mat-card-content>
        </mat-list-item>
        <span class="example-spacer"></span>
        <mat-list-item fxLayoutAlign="center" >
            <img src="assets/img/gr_tick.png" width="20px" height="20px" [hidden]="dataStreamHidden">
        </mat-list-item>
      </mat-card>
    <mat-card fxFlex="20%" fxFlex.xs="40%" mat-ripple fxLayout="row" fxLayoutGap="10px">
      <mat-list-item fxLayout="row" fxLayoutAlign="center">
        <mat-card-content class="content">
          <h3>Adding data and facts</h3>
        </mat-card-content>
      </mat-list-item>
      <span class="example-spacer"></span>
      <mat-list-item fxLayoutAlign="center">
          <img src="assets/img/gr_tick.png" width="20px" height="20px" [hidden]="addDataHidden">
      </mat-list-item>
    </mat-card>
    <mat-card fxFlex="20%" fxFlex.xs="40%" mat-ripple fxLayout="row" fxLayoutGap="10px">
      <mat-list-item fxLayout="row" fxLayoutAlign="center">
        <mat-card-content class="content">
          <h3>Learning patterns</h3>
        </mat-card-content>
      </mat-list-item>
      <span class="example-spacer"></span>
      <mat-list-item  fxLayoutAlign="center">
          <img src="assets/img/gr_tick.png" width="20px" height="20px" [hidden]="learningPatternHidden">
      </mat-list-item>
    </mat-card>
    <mat-card fxFlex="20%" fxFlex.xs="40%" mat-ripple fxLayout="row" fxLayoutGap="10px">
      <mat-list-item fxLayout="row" fxLayoutAlign="center">
        <mat-card-content class="content">
          <h3>Started Live monitoring</h3>
        </mat-card-content>
      </mat-list-item>
      <span class="example-spacer"></span>
      <mat-list-item fxLayoutAlign="center">
          <img src="assets/img/gr_tick.png" width="20px" height="20px" [hidden]="liveMontoringHidden">
      </mat-list-item>
    </mat-card>
    <div *ngIf="isCompleted; then viewResults else pb"></div>
  <ng-template #pb>
    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
  </ng-template>
  <ng-template #viewResults>
    <button mat-raised-button class="viewResultsButton" routerLink="/user">View Results</button>
  </ng-template>
  </div>
</div>
