.container{
    position:fixed;
    top: 20%;
    left: 40%;
    align-items: center;
}

mat-card{
    color: rgb(255, 153, 66);
    border-radius: 8px;
}

mat-progress-bar{
    position:fixed;
    bottom: 15%;
    width: 50%;
    left: 25%;
}

.result{
    position:fixed;
    bottom: 10%;
    width: 10%;
    left: 43.5%;
}

.completed{
    background-image: url('/ng-material-demo/src/assets/img/gr_tick.png');
    width: 20px;
    height: 20px;
}

.example-spacer {
    flex: 1 1 auto;
  }

.viewResultsButton{
    background-color: #4562E9;
    color: white;
}

.delete{
    position: fixed;
    right: 5%;
    top: 15%;
    color: red;
    height: 80px;
    border-radius: 50px;
}

.example-name-card{
    position: absolute;
    left: 50px;
    top: 18%;
    max-width: 200px;
    max-height: 70px;
    color: #494949;
}