{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FalkonryDemoExamples</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'js/assets/img/Falkonry.png' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {
      'packages': ['corechart']
    });
  </script>
</head>

<body>
  <app-root></app-root>
  <script type="text/javascript" src="{% static 'js/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>
