<div fxLayoutGap="30px" fxLayout="column">
  <div fxLayout="row">
    <!-- <mat-card class="example-name-card mat-elevation-z6" fxLayoutAlign="center center">
      <mat-card-content class="content">
        <h2>{{ example }}</h2>
      </mat-card-content>
    </mat-card> -->
    <h2>{{ example }}</h2>

    <button mat-raised-button class="goHome" (click)="goToHome()">Go to Home</button>
  </div>

  <div class="graphs">
    <h3 [hidden]="loaderEnabled || selectedEntity==null">{{selectedEntity}}</h3>
    <google-chart #ctchart [data]="columnChartData" (chartError)='error_column($event)'></google-chart>
  </div>
  <div class="graphs" fxLayoutAlign="center center">
    <google-chart #cchart [data]="timelineChartData" (chartError)='error_timeline($event)'></google-chart>
  </div>
</div>