.graphs
{   
    margin:15px;
    padding:5px;
}

.example-name-card{
    left: 50px;
    top: 20px;
    border-radius: 8px;
    max-width: 200px;
    max-height: 70px;
    color: #494949;
}
.example-spacer {
    flex: 1 1 auto;
}

.goHome{
    position: absolute;
    right: 5%;
    top: 15%;
}

h2{
    position: absolute;
    left: 50px;
    top: 12%;
    color: #494949;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

