<div class="flex-container">

    <div [hidden]="!loaderEnabled" class="loading">Loading&#8230;</div>
    <div [ngClass]="{'test':loaderEnabled, 'tooltip-remove':isTooltipActive}">
      <div class="graphs">
        <h3 [hidden]="loaderEnabled || selectedEntity==null">{{selectedEntity}}</h3>
        <google-chart #ctchart [data]="columnChartData" (chartError)='error_column($event)'></google-chart>
      </div>
      <div class="graphs" fxLayoutAlign="center center">
        <google-chart #cchart [data]="timelineChartData" (chartError)='error_timeline($event)'></google-chart>
      </div>
    </div>
  </div>