a {
    text-decoration: none;
    color: white;
  }

  a:hover,
  a:active {
    color: lightgray;
  }

  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
  }

  .label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    width: 85%;
  }

.container {
    padding: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
}

.example-padding {
    padding: 10px;
}



.example-card {
    width: 30%;
    margin: 15%;
}

mat-card {

    margin-top: 15%;
}

mat-toolbar-row {
    height: 85px !important;
}


.startButton{
    background-color: #4562E9;
    color: white;
}
